body {
    margin: 0;
    font-family: Consolas, monospace;
    background-color: white;
    color: #333333;
}

header {
    background: url(https://as2.ftcdn.net/v2/jpg/00/87/23/73/1000_F_87237301_XRl32e0GQwKXU5p07ZV08vhm0k8JubiH.jpg);
    color: white;
    padding: 60px 20px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(2, 2, 2, 0.5);
    /* text-box: normal; */
}

.header-container {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 22px;
    margin-top: 10px;
}

nav {
    background-color: #333333;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00bcd4;
}

section h2 {
    text-align: left;
}

.section-container {
    padding: 40px 20px;
    text-align: center;
    font-size: 22px;
}

.schedule-table {
    margin: 20px auto;
    border-collapse: collapse;
}

.schedule-table td {
    border: 1px solid lightgray;
    padding: 12px 20px;
}

.schedule-table th {
    background-color: #2a5298;;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin-top: 20px;
}

.container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 300px;
}

.speaker-card {
    display: inline-block;
    width: 250px;
    height: 700px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.speaker-card img {
    width: 100%;
    border-radius: 50%;
}

.registration-form {
    width: 300px;
    margin: auto;
    text-align: left;
}

.registration-form label {
    display: block;
    margin-top: 15px;
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #2a5298;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1e3c72;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}